.popup {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(27, 29, 33, 0.4);
	z-index: 1;

	.popup-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 1;
		background: #262835;
		border-radius: 20px;
		min-width: 600px;
		padding: 30px 75px;
	}

	.close-btn {
		position: absolute;
		right: 20px;
		top: 50px;
		background-color: transparent;
		color: #fff;
		font-size: 20px;
		border: none;
		cursor: pointer;
	}
}
