@import "./../../assets/css/_colors.scss";

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 700px;
}

.login-title {
	text-align: center;
	font-weight: 500;
	font-size: 42px;
	line-height: 53px;
	margin: 0;
	color: $white;
}

.login-form {
	background: #191a1d;
	padding: 40px;
	display: flex;
	flex-flow: column;
	form {
		margin: 20px 0;
	}
	input {
		width: 100%;
	}
}

.registration-link {
	text-align: center;
	color: $white;
	cursor: pointer;
	font-size: 18px;
}
