@import "../../assets/css/colors";

.post-content {
	overflow: hidden;
	max-width: 1300px;
	margin: 160px 0;
}

.post-info {
	background-color: rgba($white, 0.1);
	border-radius: 40px;
	padding: 25px;
	margin: 15px 0;
}

.post-stats {
	display: flex;
	flex-flow: nowrap;
	align-items: center;
	justify-content: center;
}
.post-likes {
	cursor: pointer;
}

.post-like,
.post-dislike {
	display: flex;
	flex-flow: column;
	align-items: center;
	font-size: 18px;
	background-color: $button-bg;
	color: #fff;
	border: none;
	margin: 0 10px;
	padding: 2px 6px;
	cursor: pointer;
}
