@import "./../../assets/css/_colors.scss";
@import "./../../assets/css/_media.scss";

.footer {
	padding: 40px 0;
	background: $gradient-bg;
	@media screen and (min-width: $xl) {
		padding: 120px 0 112px;
	}
	.footer-text {
		max-width: 390px;
		margin-right: 20px;
		width: 100%;
		@media screen and (min-width: $lg) {
			width: 50%;
			margin-right: 140px;
		}
	}

	.footer-text__logo {
		display: block;
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		color: $white;
		margin: 0 0 25px;
		&:hover {
			color: $button-bg;
		}
	}

	.footer-text__paragraph {
		font-weight: 300;
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 40px;
	}

	.footer-text__copyright {
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
	}
}
