.input {
    font-family: "Mulish", sans-serif;
    background: rgba(48, 48, 51, 0.7);
    border-radius: 10px;
    box-shadow: none;
    border: none;
    padding: 18px 40px;
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin: 0;
    &.purple {
        background: #BDB2FF;
        color: #000;
    }
}