@import "../../assets/css/_media.scss";

.grid {
	width: 100%;
	display: flex;
	flex-flow: column;
	padding: 0 0 30px;

	@media screen and (min-width: $xl) {
		padding: 0 0 40px;
	}
}

.grid__masonry {
	display: flex;
	gap: 30px;
	justify-content: space-between;

	@media screen and (min-width: $xl) {
		gap: 76px;
	}
}
