@import "../../assets/css/media";

.hero {
	position: relative;
	&.hero--gradient {
		background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.1),
			rgba(0, 0, 0, 0.1)
		);
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		.hero__image {
			position: relative;
			z-index: -1;
		}
	}

	.hero__image {
		object-fit: cover;
		width: 100%;
		max-height: 514px;
	}

	.hero__title {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
		font-weight: 700;
		font-size: 30px;
		line-height: 32px;
		padding: 40px;
		@media screen and (min-width: $lg) {
			font-size: 50px;
		}
	}
}
